body {
    background-color: lightblue;
    overflow-x:hidden;
}

h1 {
    color: navy;
    margin-left: 20px;
}

#round1 
{
    border-radius: 25px;
    background: #eee;
    padding: 20px; 
    align-content: center
}

h3.date_h3
{
    font-family: OCR-A, monospace;
    font-size: 150%;
    
}
h3.subject
{
    color:royalblue;
}

h4.date_h4
{
    font-family: OCR-A, monospace;
    font-size: 110%;
    font-weight: bold; 
    
}

p.p_sub 
{
    color:black;
    font-size: 150%;
    padding-top: 19px;
}

.events{
    margin-top:50px;
}
.new_wind_bot{
    margin-bottom:10%;
}

.new_wind_top{
    margin-top:25%;
}

.intro {
    margin-top:20%;
    margin-bottom:10%;
}

.intro_icon{
    zoom :1.2;  /* to make the icon large */
}
.social_icon{
    margin-bottom:10%;
}

.invis {
    color: white;
    font-size: 10%;
}

.new_Section{
    margin-top:20px;
    margin-bottom:20px;
}